main {
  background-color: #1EEBB8 ;
  margin-left: 50px;
  margin-right: 50px;
}
body {
  background-color: #1EEBB8;
  text-align: center;
}
Title { padding-top: 225px;
  padding-left: 50px;
}
h1{
  color: #00A36C ;
  font-size: 50px;
    }
.Part1 {
  background-color: #00A36C;
}
.Part2 {
  background-color: #FFBF00;
}
.Part3 {
  background-color: #00A36C;
}
.Part4 {
  background-color: #FFBF00;
}
.Part5 {
  background-color: #00A36C;
}
.Part6 {
  background-color: #FFBF00;
}
.Part7 {
  background-color: #00A36C;
}
.Part8 {
  background-color: #FFBF00;
}
.button {
  background-color: #DA36EB;
  border: 2px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {
  border-radius: 8px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: white;
}
li {
  float: left;
}
li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #ddd;
}
li a.active {
  color: white;
  background-color: #DA36EB;
}
footer {
  background-color: lime;
  text-align: center;
@media only screen and (max-width: 6768px){
    main {
  margin-left: 30px;
  margin-right: 30px;
    }
}
@media only screen and (max-width:480px){
    main {
  margin-left: 50px;
  margin-right: 50px;
    }
}